.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f39c12;
  }
  
  form {
    background: #333;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    text-align: center;
  }
  
  input {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  
  button {
    padding: 10px 20px;
    background: #f39c12;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background: #e67e22;
  }
  